.produkt {
    display: flex;
    flex-direction: column;
    color: white;
}
.produkt__cena {
    padding: 10px;
    background-color: var(--hlavni-barva);
    width: 80px;
    margin: 20px auto 20px 20px;
}
.produkt--hlavnispopisem {
    background-image: url("podklady/palmy.jpg");
    background-size: cover;
    background-position: center center;
    height: 210px;
    width: 100%;
    margin-bottom: 16px;
}
.produkt--hlavnispopisem h3 {
    margin: 50px 90px 20px 20px;
    font-size: 24px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.produkt--popisek  {
    font-size: 13px;
    text-align: left;
    margin: 0 10px 25px 20px;
}
.produkt--vedlejsi {
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 16px;
}
.produkt--vedlejsi h3 {
    text-align: left;
    margin: 0 auto 30px 20px;
    font-size: 18px;
    font-weight: 500;
}
.produkt--jezero {
    background-image: url("podklady/jezero.jpg");
}
.produkt--nakole {
    background-image: url("podklady/nakole.jpg");
}
.karta {
    display: flex;
    align-items: flex-start;
    background-color: rgb(226, 221, 221);
    margin-bottom: 15px;
    padding: 15px;
}
.karta__pravacast {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 0 0 30px;
    width: 90%;
}
.karta img {
    width: 10%;
}
.karta h3 {
    color: var(--hlavni-barva);
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
}
.karta p {
    font-size: 13px;
    margin: 0;
}
h2 {
    text-align: left;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.karta--sloupec {
    flex-direction: column;
    text-align: left;
    padding: 17px;
}
.karta--sloupec h3 {
    padding-top: 12px;
    font-size: 13px;  
}
.karta--datum {
    color: gray;
    padding: 0;
    font-weight: normal;
}
.karta--sloupec p {
    font-weight: 500;
}
.produkt--last h3 {
    margin: 3px 90px 15px 20px;
    font-weight: 500;
}
.produkt--last {
    background-image: url("podklady/lodicka.jpg");
}
.produkt--grandcanyon {
    background-image: url("podklady/podkova.jpg");
}
.produkt--kanary {
    background-image: url("podklady/zatoka.jpg");
    margin: 0;
}










/*.sedyramecek {
    background-color: gray;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.sedyramecek h3 {
    color: orange;
    font-size: 18px;
    margin: 0;
}

.sedyramecek p {
    margin-top: 10px;
}

.sedyramecek--vycentrovany {
    text-align: center;
}

.sedyramecek--hlavni h3 {
    font-size: 24px; 
}

.sedyramecek--hlavni p {
    font-weight: bold;
}

.sluzbicky .obsah {
    display: flex;
    flex-direction: row;
}

.sluzbicky .obsah > * {
    flex: 1 1 0;
} */