body {
    font-family: 'Montserrat', sans-serif;
    margin: 15px 10px 30px 10px;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 30px 0;   
}
li {
    display: inline-block; 
}
ul a {
    text-decoration: none;
    padding: 15px 15px;
    color: orangered;
}
a:hover {
    color: white;
    font-weight: bold;
    background-color: orangered;
}
.produkt {
    display: flex;
    flex-direction: column;
}
.produkt--palmy {
    background-image: url("podklady/palmy.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    margin-bottom: 16px;
}
.produkt--cena {
    padding: 15px;
    background-color: orangered;
    width: 80px;
    font-weight: bold;
    margin: 16px 260px 75px 16px;
    color: white;
}
.produkt--palmy h3 {
    margin: 0px 90px 25px 16px;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.produkt--popisek  {
    font-size: 13px;
    text-align: left;
    margin: 0 auto 25px 16px;
}
.produkt--jezera {
    background-image: url("podklady/jezero.jpg");
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 16px;
}
.produkt--nakole {
    background-image: url("podklady/nakole.jpg");
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 16px;
}
.produkt h3 {
    color: white;
    text-align: left;
    margin: 0 auto 23px 16px;
}


.karta {
    display: flex;
    align-items: flex-start;
    background-color: rgb(226, 221, 221);
    margin-bottom: 10px;
    padding: 15px;
}

.karta__pravacast {
    text-align: left;
    margin: 0;
}
.karta h3 {
    color: orangered;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;

}
.karta p {
    font-size: 13px;
    margin: 0;

}

.karta--sloupec {
    flex-direction: column;
    text-align: left;
}



/* .sedyramecek {
    background-color: gray;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.sedyramecek h3 {
    color: orange;
    font-size: 18px;
    margin: 0;
}

.sedyramecek p {
    margin-top: 10px;
}

.sedyramecek--vycentrovany {
    text-align: center;
}

.sedyramecek--hlavni h3 {
    font-size: 24px; 
}

.sedyramecek--hlavni p {
    font-weight: bold;
}

.sluzbicky .obsah {
    display: flex;
    flex-direction: row;
}

.sluzbicky .obsah > * {
    flex: 1 1 0;
} */
